NGROK_TOKEN=#ngrok token
PORT=5000
FLASK_HOST=0.0.0.0
FLASK_DEBUG=False
INSTALL_DEPS=False
MAX_UPLOAD_MB=100

# OCR Models
DET_ARCH=db_resnet50
RECO_ARCH=crnn_vgg16_bn
TROCR_MODEL=microsoft/trocr-large-handwritten

# Grader Models
LABSE_MODEL=LaBSE
NLI_MODEL=cross-encoder/nli-deberta-v3-small

# Grading Thresholds
NLI_CONTRADICTION_THRESHOLD=0.70
NLI_ENTAILMENT_THRESHOLD=0.65
NLI_CONTRADICTION_RATIO=0.3
NLI_ENTAILMENT_RATIO=0.5
NLI_PARTIAL_RATIO=0.15
SIMILARITY_CORRECT_HIGH=0.75
SIMILARITY_CORRECT_MED=0.50
SIMILARITY_CORRECT_LOW=0.30
SIMILARITY_MIN_THRESHOLD=0.27
SIMILARITY_MAX_THRESHOLD=0.70

# OCR Logic Settings
SCAN_SIGMA=51
SCAN_BLOCK_SIZE=21
SCAN_C=10
BOX_PAD_X=0.05
BOX_PAD_Y=0.15
STRIKE_THRESHOLD=0.2